<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .card-img-top { width: 100%; height: 200px; object-fit: contain; }
      .card-body { max-height: 300px; overflow: hidden; } .centered-text {
      text-align: center; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="centered-text">
        <h1 class="my-4">Productos en Tiempo Real</h1>
        <p>{{message}}</p>
        <h2 class="my-4">Lista de productos en tiempo real</h2>
      </div>
      <div class="row" id="products-container">
        {{#each products}}
          <div
            class="col-lg-4 col-md-6 mb-4 product-item"
            data-id="{{this.id}}"
          >
            <div class="card h-100">
              <img
                class="card-img-top"
                src="{{this.image}}"
                alt="{{this.name}}"
              />
              <div class="card-body">
                <h4 class="card-title">{{this.name}}</h4>
                <h5>${{this.price}}</h5>
                <p class="card-text">{{this.description}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/ts/realtimeproducts.ts"></script>
  </body>
</html>